#### 1. ÇALIŞACAĞIM KÜTÜPHANELERİ BELİRLEYİP IMPORT EDEREK BAŞLIYORUM.

In [57]:
import pandas as pd
import numpy as np

#### 2. DATASETİMİ ÇAĞIRIYORUM.

Bu dataseti, notebookumu yoracak kadar büyük olduğundan belli bir miktarı (50000 satır) ile çalışmaya karar verdim.

In [77]:
ri = pd.read_csv("RI_cleaned.csv", nrows = 50000)

c:\users\hüseyin\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#### 3. DATASETİMDE NE TÜR VERİLER OLDUĞUNU GÖRMEK İÇİN İLK SATIRLARINA BAKIYORUM

In [78]:
ri.head(3)

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1

#### 4. SÜTUNLARIMI TOPLU HALDE GÖRMEK İSTİYORUM Kİ BAKALIM BU DATA BANA NE ANLATIYOR.

ve ilk bakışta hangi sütunlardan vazgeçebileceğimi anlamaya çalışıyorum (Data temizleme işlemine hazırlık yapıyorum)

In [79]:
ri.columns

Index(['id', 'state', 'stop_date', 'stop_time', 'location_raw', 'county_name',
       'county_fips', 'fine_grained_location', 'police_department',
       'driver_gender', 'driver_age_raw', 'driver_age', 'driver_race_raw',
       'driver_race', 'violation_raw', 'violation', 'search_conducted',
       'search_type_raw', 'search_type', 'contraband_found', 'stop_outcome',
       'is_arrested', 'stop_duration', 'out_of_state', 'drugs_related_stop',
       'district'],
      dtype='object')

#### 5. BOŞ SATIRLARIMI MISSING VALUE LARIMI GÖRMEK İSTİYORUM Kİ VAZGEÇEBİLECEĞİM SATIRLARI BELİRLEYEBİLEYİM. (VERİ TEMİZLEME İŞLEMİNE BAŞLADIM)

In [38]:
ri.isnull().sum()

id                           0
state                        0
stop_date                    0
stop_time                    0
location_raw                 0
county_name              50000
county_fips              50000
fine_grained_location    50000
police_department            0
driver_gender             1990
driver_age_raw            1971
driver_age                2208
driver_race_raw           1988
driver_race               1988
violation_raw             1988
violation                 1988
search_conducted             0
search_type_raw          47988
search_type              47988
contraband_found             0
stop_outcome              1988
is_arrested               1988
stop_duration             1988
out_of_state              2203
drugs_related_stop           0
district                     0
dtype: int64

#### 6. DATASETİMİN KAÇ SATIR KAÇ SÜTUNDAN OLUŞDUĞUNA (SHAPE'INE) BAKIYORUM Kİ BİRAZDAN BAZILARINI DÜŞÜRDÜĞÜMDE SATIR-SÜTUN SAYILARINA BAKIP TEYİD EDEBİLEYİM.

In [39]:
ri.shape

(50000, 26)

#### 7. SÜTUNLARDAN BAŞLAYARAK TEMİZLEME İŞLEMİNE BAŞLADIM.

State sütununu zaten tek bir state olması nedeniyle, country_name sütununu da tüm satırları boş olması nedeniyle işime yaramayacağından düşürüyorum ki geriye kalan verilere daha iyi odaklanabileyim.

In [80]:
drop_columns = ["state", "county_name", "county_fips", "fine_grained_location"]

ri.drop(drop_columns, axis = "columns", inplace=True)  

# axis = columns veya axis = 1 iki doğru kullanım şeklidir.

In [60]:
ri.shape

# tekrar bakıyorum ve sütunların düşmüş olduğunu görüyorum.

(50000, 22)

#### 8. ŞİMDİ SİLMEM GEREKEN SATIRLARI BELİRLEYİP SATIR SİLEREK TEMİZLEME İŞLEMİNE DEVAM EDİYORUM.

Belirli bir sütunun analiziniz için kritik olacağını bildiğinizde ve satırların yalnızca küçük bir bölümünde bu sütunda bir değer eksik olduğunda, bu satırları veri kümesinden çıkarmak genellikle mantıklıdır.

driver_gender sütunu analizlerimin çoğu için kritik olacaktır. Yalnızca küçük bir satırda driver_gender eksik olduğundan, bu satırları veri kümesinden çıkaracağız.

In [42]:
ri.isnull().sum()

id                        0
stop_date                 0
stop_time                 0
location_raw              0
police_department         0
driver_gender          1990
driver_age_raw         1971
driver_age             2208
driver_race_raw        1988
driver_race            1988
violation_raw          1988
violation              1988
search_conducted          0
search_type_raw       47988
search_type           47988
contraband_found          0
stop_outcome           1988
is_arrested            1988
stop_duration          1988
out_of_state           2203
drugs_related_stop        0
district                  0
dtype: int64

In [81]:
# drop : içinde belirtilen verileri
# dropna : NaN ları düşürür
# drop_duplicates : tekrar olan verileri düşürür
# biz burda dropna kullanacağız. 

ri.dropna(subset = ["driver_gender"], inplace = True)

subset olarak driver_gender sütununu seçtiğimizden tüm data içinde değil, yalnızca subsette belirtilen sütun içindeki NaN değerleri düşürecek.

how parametresi default olarak "any" argümanını aldığından ve zaten şuan tek bir sütunda çalıştığımdan baktığı satırda zaten ya tek bir NaN görecek ya da dolu görecek.  NaN gördüğünü silecek. bu yüzden how, default olarak kalsın istedim. 

subset kullanmadan dropna yaptığımda NaN olan değerleri düşürünce içinde NaN değer olan tüm sütunların satırları gitmiş olacak. ama o satırda içinde derğerli veri olan sütunlar da olabilir. Bunu subset ile yapacağız ve sadece belirttiğimiz sütundaki NaN olan değerlerin satırlarını silecek.

In [44]:
ri.shape

# yaklaşık 2000 satırın silindiğini gördüm.

(48010, 22)

In [45]:
ri.isnull().sum()

# tekar sütunların içinde NaN değer olan satır sayılarına bakıyorum

id                        0
stop_date                 0
stop_time                 0
location_raw              0
police_department         0
driver_gender             0
driver_age_raw            0
driver_age              232
driver_race_raw           0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type_raw       45998
search_type           45998
contraband_found          0
stop_outcome              0
is_arrested               0
stop_duration             0
out_of_state            215
drugs_related_stop        0
district                  0
dtype: int64

driver_race
driver_race_raw
driver_age 

gibi satırlar da sıfırlandı. demek ki onların da driver_gender gibi o satırlarında null değer varmış.

#### 9. DROP İŞLEMİNDEN SONRA FIXING İŞLEMİNE GEÇİYORUM

is_arrested sütununda şu anda True ve False değerler olsa da bunların nesne veri türüne sahip olduğunu biliyoruz. O yüzden bunları, True ve False değerlerini içeren bir sütun için en uygun veri türü olan bool olarak değiştireceğiz.

Veri türünü düzeltmek, is_arrested sütununda başka türlü mümkün olmayan matematiksel işlemleri kullanmamızı sağlayacaktır.

In [46]:
ri.info()

# datasetimin sütun ve satırları hakkında bilgilere bakıyorum. 
# bu sayede resmi görebiliyorum

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48010 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  48010 non-null  object
 1   stop_date           48010 non-null  object
 2   stop_time           48010 non-null  object
 3   location_raw        48010 non-null  object
 4   police_department   48010 non-null  object
 5   driver_gender       48010 non-null  object
 6   driver_age_raw      48010 non-null  float64
 7   driver_age          47778 non-null  float64
 8   driver_race_raw     48010 non-null  object
 9   driver_race         48010 non-null  object
 10  violation_raw       48010 non-null  object
 11  violation           48010 non-null  object
 12  search_conducted    48010 non-null  bool
 13  search_type_raw     2012 non-null   object
 14  search_type         2012 non-null   object
 15  contraband_found    48010 non-null  bool
 16  stop_outcome        48010 non-null  object
 17  is_arrested         48010 non-null  object
 18  stop_duration       48010 non-null  object
 19  out_of_state        47795 non-null  object
 20  drugs_related_stop  48010 non-null  bool
 21  district            48010 non-null  object
dtypes: bool(3), float64(2), object(17)
memory usage: 7.5+ MB

In [47]:
ri.dtypes

# hangi sütunda hangi data tipi olduğuna baktım

id                     object
stop_date              object
stop_time              object
location_raw           object
police_department      object
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race_raw        object
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type_raw        object
search_type            object
contraband_found         bool
stop_outcome           object
is_arrested            object
stop_duration          object
out_of_state           object
drugs_related_stop       bool
district               object
dtype: object

In [48]:
ri.is_arrested.head()

# object tipinde olduğunu gördüm. 
# biz bunu bool görmek istiyoruz. buna bir ayar çekmemiz lazım.

0    False
1    False
3    False
4    False
5    False
Name: is_arrested, dtype: object

In [49]:
type(ri.is_arrested.values[0])

bool

In [82]:
ri["is_arrested"] = ri.is_arrested.astype("bool")

# ri["is_arrested"] serie sini içeriğini bool yapıp kendisine eşitliyorum. yani bool'a değiştirmiş oluyorum.

In [84]:
ri["is_arrested"]

# dtype ının boolean a döndüğünü gördük.

0        False
1        False
3        False
4        False
5        False
         ...
49995    False
49996    False
49997    False
49998    False
49999    False
Name: is_arrested, Length: 48010, dtype: bool

#### 10. BİRLEŞTİRİLMESİ İCAP EDEN SÜTUNLARI BİRLEŞTİRİP SADELİK VE AMACA ODAKLANMAYI SAĞLIYORUM

## Combining object columns

**EN** Currently, the date and time of each traffic stop are stored in separate object columns: stop_date and stop_time.

You'll combine these two columns into a single column, and then convert it to datetime format. This will enable convenient date-based attributes that we'll use later in the course.

**INSTRUCTIONS**

Use a string method to concatenate stop_date and stop_time (separated by a space), and store the result in combined.
Convert combined to datetime format, and store the result in a new column named stop_datetime.
Examine the DataFrame .dtypes to confirm that stop_datetime is a datetime column.

**TR** Şu anda, her trafik stop'un date ve time'ı ayrı nesne sütunlarında depolanmaktadır:

Bu iki sütunu tek bir sütunda birleştirecek ve ardından onu datetime biçimine dönüştüreceksiniz. Bu, kursun ilerleyen bölümlerinde kullanacağımız uygun date tabanlı özellikleri etkinleştirecektir.

**TALİMATLAR**

stop_date ve stop_time'ı (bir boşlukla ayrılmış) birleştirmek için string metodu kullanın ve sonucu combine edilmiş olarak saklayın. Bunu datetime formatına dönüştürün ve sonucu stop_datetime adlı yeni bir sütunda saklayın. stop_datetime öğesinin bir datetime sütunu olduğunu doğrulamak için DataFrame .dtypes öğesini inceleyin.

In [52]:
ri.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
3,RI-2005-00004,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,Black,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
5,RI-2005-00006,2005-01-12,08:05,Zone X1,0,M,1973.0,32.0,B,Black,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

İki pandas serisini str.cat() fonksiyonunu kullanarak birleştireceğim.
stop_date'i .str.cat()' in içine pas edeceğim ri.stop_time ile birleştireceğim.
ve bunu combined adlı değişkene atayacağım.

In [85]:
combined = ri.stop_date.str.cat(ri.stop_time, sep = " ")

combined

# artık combined diye bir serie'm var. şimdi bu değişkeni kullanarak yeni bir sütun oluşturacağım.

0        2005-01-02 01:55
1        2005-01-02 20:30
3        2005-01-04 12:55
4        2005-01-06 01:30
5        2005-01-12 08:05
               ...
49995    2006-08-08 22:45
49996    2006-08-08 22:45
49997    2006-08-08 22:53
49998    2006-08-08 23:00
49999    2006-08-08 23:00
Name: stop_date, Length: 48010, dtype: object

şimdi stop_datetime diye bir sütun oluşturup combined adlı serie mi ona atayacağım.

hem date i hem time ı birleştirdiğim için adını stop_datetime vereceğim.

bunu (to_datetime() fonksiyonu ile) datetime tipine çevireceğim ve artık beraberinde gelecek datetime metodlarını kullanabileceğim.

In [86]:
ri["stop_datetime"] = pd.to_datetime(combined)

# combined adıyla oluşturduğumuz serie'yi to_datetime() ın içine gönderdik 
# ve stop_datetime sütununu oluşturup tipini datetime yaptık.

In [87]:
# şimdi eski iki sütunu drop edelim.

ri.drop(["stop_date", "stop_time"], axis = "columns", inplace=True)

In [88]:
ri.head()

# stop_datetime sütununu en sonda oluşturulduğunu görebiliyoruz

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop_datetime
0,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,2005-01-02 01:55:00
1,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,2005-01-02 20:30:00
3,RI-2005-00004,Zone X4,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,Equipment,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-04 12:55:00
4,RI-2005-00005,Zone X4,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,Equipment,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-06 01:30:00
5,RI-2005-00006,Zone X1,0,M,1973.0,32.0,B,Black,Call for Service,Other,...,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1,2005-01-12 08:05:00

In [32]:
ri.dtypes

# stop

id                     object
location_raw           object
police_department      object
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race_raw        object
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type_raw        object
search_type            object
contraband_found         bool
stop_outcome           object
is_arrested              bool
stop_duration          object
out_of_state           object
drugs_related_stop       bool
district               object
dtype: object

#### 11. SON ŞEKİLLENDİRMEYİ YAPIYORUM

**EN** The last step that you'll take in this chapter is to set the stop_datetime column as the DataFrame's index. By replacing the default index with a DatetimeIndex, you'll make it easier to analyze the dataset by date and time, which will come in handy later in the course.

**INSTRUCTIONS**

Set stop_datetime as the DataFrame index.
Examine the index to verify that it is a DatetimeIndex.
Examine the DataFrame columns to confirm that stop_datetime is no longer one of the columns.

**TR** Bu bölümde atacağınız son adım, stop_datetime sütununu DataFrame'in dizini olarak ayarlamaktır. Varsayılan dizini bir DatetimeIndex ile değiştirerek, veri kümesini tarih ve saate göre analiz etmeyi kolaylaştıracaksınız, bu da kursun ilerleyen bölümlerinde kullanışlı olacaktır.

**TALİMATLAR** 

stop_datetime'ı DataFrame dizini olarak ayarlayın.
Bir DatetimeIndex olduğunu doğrulamak için dizini inceleyin.
stop_datetime öğesinin artık sütunlardan biri olmadığını doğrulamak için DataFrame sütunlarını inceleyin.

In [89]:
ri.set_index("stop_datetime", inplace = True)

# stop_datetime sütunumu index yaptım.

In [90]:
ri.head(2)

# stop_datetime'ın artık index olduğunu görebiliyorum.

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4

In [91]:
ri.shape

# sütun sayısı 1 azalarak 20 oldu

(48010, 20)

In [92]:
ri.columns

# stop_datetime öğesinin artık sütunlardan biri olmadığını doğrulamak için DataFrame sütunlarını inceledim.

Index(['id', 'location_raw', 'police_department', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race_raw', 'driver_race',
       'violation_raw', 'violation', 'search_conducted', 'search_type_raw',
       'search_type', 'contraband_found', 'stop_outcome', 'is_arrested',
       'stop_duration', 'out_of_state', 'drugs_related_stop', 'district'],
      dtype='object')

In [94]:
ri.to_csv("RI_27June", index = False)