In [1]:
import numpy as np
import pandas as pd

## **NUMPY**

#### **Making a Numpy Array** (From the list, Arrange, Zeros, Ones, Linspace, Random)
#### **Methods with Nump Arrays**  
#### **Indexing & Slicing**   
#### **Conditional Selection**   
#### **Numpy Operations**

#### **Making a Numpy Array**

##### -From the list

In [2]:
my_list = [1, 2, 3, 4, 5]

my_arr = np.array(my_list)
my_arr

array([1, 2, 3, 4, 5])

In [3]:
type(my_arr)

numpy.ndarray

In [4]:
my_matrix_list = [[1, 2, 3],[4, 5, 6],[7, 8, 9],[10, 11, 12]]

my_matrix_arr = np.array(my_matrix_list)

my_matrix_arr

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [5]:
type(my_matrix_arr)

numpy.ndarray

#### -Arrange ile Numpy Array olusturma

In [6]:
np.arange(1, 30, 2)

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29])

#### -Zeros ile Numpy Array olusturma

In [7]:
np.zeros((4, 3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

#### -Ones ile Numpy Array olusturma

In [8]:
np.ones ((2, 5), )

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [11]:
np.full(3, 6, dtype=int)

array([6, 6, 6])

In [10]:
np.full((4, 5), 6, dtype=int)

array([[6, 6, 6, 6, 6],
       [6, 6, 6, 6, 6],
       [6, 6, 6, 6, 6],
       [6, 6, 6, 6, 6]])

#### -Linspace ile Numpy Array olusturma

In [13]:
# Gives us evenly space between start and stop(inclusive)  numbers by given number. In our example we want 4 linearly spaced even number

np.linspace (0, 10, 3)

array([ 0.,  5., 10.])

#### -Random ile Numpy Array olusturma

In [14]:
# Gives us random numbers between given row and column number.

np.random.rand (4, 5)

array([[0.27068853, 0.48487829, 0.29705961, 0.83103327, 0.09150516],
       [0.31027618, 0.82676235, 0.00253319, 0.24692096, 0.46028257],
       [0.19251513, 0.13099483, 0.02321665, 0.43241063, 0.89805975],
       [0.79906795, 0.29941347, 0.60915892, 0.30485791, 0.87891294]])

In [15]:
# Gives us a number in the normal distribution, for that number mostly close to 0

np.random.randn(2, 3)

array([[-0.41077241, -0.04139877, -2.1758865 ],
       [-0.40783825,  0.31935958, -0.00698571]])

In [16]:
# Gives us randomly chosen integer between the given numbers, stop is exclusive by requested number
# In our case, we want number between 0 and 101, not inclusive, 5 random integer numbers

np.random.randint(0, 101, 5)

array([47, 36, 40, 49, 86])

In [17]:
# Same logic, but this time gives us 4 by 5 array with random numbers

np.random.randint(0, 101, (4, 5))

array([[100,  83,   8,  25,  71],
       [ 72,  40,  52,  94,  78],
       [ 35,  15,  45,  18,  58],
       [  1,  71,  68,   2,   4]])

In [19]:
# If we want to get same random set we use seed  with the random number in the same jupyter cell

np.random.seed(42)
np.random.randint(0, 101, 7)

array([51, 92, 14, 71, 60, 20, 82])

In [67]:
# As seen above, as long as we use seed and random number request in the same cell we get same set of numbers.

### **Methods with Numpy Arrays**

#### **reshape**

In [20]:
arr = np.arange(0, 25)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [21]:
arr.reshape(5, 5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

#### **max** , **min**, **argmax**, **argmin**

In [27]:
arr = np.random.randint(0, 50, 18)
arr

array([21, 43, 24, 48, 26, 41, 27, 15, 14, 46, 43,  2, 36,  6, 20,  8, 38,
       17])

In [28]:
arr.max()

48

In [29]:
arr.min()

2

In [30]:
arr.argmax()

3

In [31]:
arr.argmin()

11

#### **dtype**,  **shape**

In [32]:
arr.dtype

dtype('int32')

In [33]:
arr.shape

(18,)

In [35]:
arr =arr.reshape(3, 6)
arr

array([[21, 43, 24, 48, 26, 41],
       [27, 15, 14, 46, 43,  2],
       [36,  6, 20,  8, 38, 17]])

In [83]:
arr.shape

(3, 6)

### **Indexing** & **Slicing**

In [36]:
arr = np.arange(0, 15)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [37]:
arr[2:7]

array([2, 3, 4, 5, 6])

##### **Broadcasting**

In [38]:
arr[0:5] = 35   # Assigns first 5 numbers as a given number

arr

array([35, 35, 35, 35, 35,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [39]:
arr_2 = np.array([[1, 2, 3],[4, 5, 6],[7, 8, 9]])
arr_2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [40]:
arr_2 [1, 1] # row one , column one

5

In [41]:
arr_2 [0:2, 0:2] # first two rows, with first two column

array([[1, 2],
       [4, 5]])

### **Conditional Selection**

In [42]:
arr = np.arange(0, 11)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [43]:
arr > 4

array([False, False, False, False, False,  True,  True,  True,  True,
        True,  True])

In [44]:
arr[arr > 4]

array([ 5,  6,  7,  8,  9, 10])

### **Numpy Operations**

In [45]:
arr = np.arange(0, 10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [46]:
arr + 2

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [47]:
arr * 3

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27])

In [48]:
arr / 2

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5])

In [49]:
arr.sum()

45

In [50]:
arr.mean()

4.5

In [51]:
arr.std()

2.8722813232690143

In [52]:
# Operations with two dimesnional array in Numpy

arr_2= np.arange(0, 30).reshape(5, 6)
arr_2

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29]])

In [53]:
arr_2.sum()

435

In [54]:
## this part is interesting:

arr_2.sum(axis=0)  # which means sum of the rows across. In our case first one: 0+6+12+18+24 = 60

# which actually, sum of the first column, but we specify axis=0, which means we are taking into account rows.

array([60, 65, 70, 75, 80, 85])

# **PANDAS**

### **Today's Agenda**:
#### **First look to the DataFrame**
#### **Reaching to Columns & Rows and Columns&Rows Together**  
#### **Adding and Dropping Columns and Rows**  
#### **Index methods**   
#### **Conditional Filtering with Exercise**

#### Reading From CSV

In [56]:
#read_csv
df = pd.read_csv("world-happiness-report-2021.csv")

#### **df.shape**    --> Gives up how many rows and columns in the dataframe (df)
#### **df.head()**   --> Gives us top 5 or if we specify number, that number of rows.
#### **df.tail()**   --> Gives us bottom 5 or if we specify number, that number of rows.
#### **df.sample()**   --> Gives us 5 random row from the DF.
#### **df.info()**   --> Gives us number of rows and columns and all the data types in the columns as well.
#### **df.describe()**--> Gives us some basic statistical details(such as; mean, std, percentiles).
#### **df.columns**  --> Gives us column names in the df.
#### **value_counts()**   --> Gives us value counts of the categorical variable.

In [57]:
#shape
df.shape

(149, 20)

In [58]:
#head()
df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [59]:
#tail()
df.tail()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [60]:
#sample()
df.sample(3)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
20,France,Western Europe,6.690,0.037,6.762,6.618,10.704,0.942,74.000,0.822,-0.147,0.571,2.43,1.421,1.081,0.804,0.536,0.092,0.235,2.521
74,Belarus,Commonwealth of Independent States,5.534,0.047,5.625,5.442,9.853,0.910,66.253,0.650,-0.180,0.627,2.43,1.124,1.007,0.560,0.326,0.070,0.199,2.247
111,Gabon,Sub-Saharan Africa,4.852,0.075,4.998,4.706,9.603,0.776,59.962,0.731,-0.200,0.840,2.43,1.037,0.707,0.362,0.424,0.058,0.064,2.201

In [61]:
#info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(2)
memory usage: 23.4+ KB

In [62]:
#describe()
df.describe()

,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,1.490000e+02,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.532839,0.058752,5.648007,5.417631,9.432208,0.814745,64.992799,0.791597,-0.015134,0.727450,2.430000e+00,0.977161,0.793315,0.520161,0.498711,0.178047,0.135141,2.430329
std,1.073924,0.022001,1.054330,1.094879,1.158601,0.114889,6.762043,0.113332,0.150657,0.179226,5.347044e-15,0.404740,0.258871,0.213019,0.137888,0.098270,0.114361,0.537645
min,2.523000,0.026000,2.596000,2.449000,6.635000,0.463000,48.478000,0.382000,-0.288000,0.082000,2.430000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.648000
25%,4.852000,0.043000,4.991000,4.706000,8.541000,0.750000,59.802000,0.718000,-0.126000,0.667000,2.430000e+00,0.666000,0.647000,0.357000,0.409000,0.105000,0.060000,2.138000
50%,5.534000,0.054000,5.625000,5.413000,9.569000,0.832000,66.603000,0.804000,-0.036000,0.781000,2.430000e+00,1.025000,0.832000,0.571000,0.514000,0.164000,0.101000,2.509000
75%,6.255000,0.070000,6.344000,6.128000,10.421000,0.905000,69.600000,0.877000,0.079000,0.845000,2.430000e+00,1.323000,0.996000,0.665000,0.603000,0.239000,0.174000,2.794000
max,7.842000,0.173000,7.904000,7.780000,11.647000,0.983000,76.953000,0.970000,0.542000,0.939000,2.430000e+00,1.751000,1.172000,0.897000,0.716000,0.541000,0.547000,3.482000

In [66]:
df[df.isnull()]

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
# isnull().sum()  # gives us the sum of null values
df.isnull().sum()

Country name                                  0
Regional indicator                            0
Ladder score                                  0
Standard error of ladder score                0
upperwhisker                                  0
lowerwhisker                                  0
Logged GDP per capita                         0
Social support                                0
Healthy life expectancy                       0
Freedom to make life choices                  0
Generosity                                    0
Perceptions of corruption                     0
Ladder score in Dystopia                      0
Explained by: Log GDP per capita              0
Explained by: Social support                  0
Explained by: Healthy life expectancy         0
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Dystopia + residual                           0
dtype: int64

In [67]:
# columns
df.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [68]:
df.head(2)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868

In [11]:
#value_counts()
df['Regional indicator'].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Central and Eastern Europe            17
Middle East and North Africa          17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [ ]:
#GDP, life expectancy, generosity, social support, freedom, and corruption --> ladder score

### **Reaching to Columns**

##### To reach the single column  --> df ['column name'] or df.columnname
##### To reach the more than one column -> df [['column1','column2']] <-- Remember to include 2 squarebracket

In [14]:
# Single column
type(df['Ladder score'])

pandas.core.series.Series

In [17]:
# multiple columns
type(df[['Social support','Generosity']])

pandas.core.frame.DataFrame

In [ ]:
# New DataFrame for further analysis

In [84]:
df1 = df[['Country name', 'Regional indicator', 'Ladder score',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption']].copy()
df1.set_index('Country name', inplace=True)
df1

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

### **Reaching to Rows   loc  & iloc**

##### To reach the  single row  --> df.iloc[index number of the row] <-- iloc= integer location
##### To reach the  single row  --> df.loc[label of the row] <-- loc = label location

##### To reach more than one row --> df.iloc[[row1,row2]] or df.loc[[rowname1, rowname2]]<-- Remember to include 2 squarebracket

In [85]:
df1.head(3)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292

In [92]:
df.iloc[0]

Country name                                         Finland
Regional indicator                            Western Europe
Ladder score                                           7.842
Standard error of ladder score                         0.032
upperwhisker                                           7.904
lowerwhisker                                            7.78
Logged GDP per capita                                 10.775
Social support                                         0.954
Healthy life expectancy                                   72
Freedom to make life choices                           0.949
Generosity                                            -0.098
Perceptions of corruption                              0.186
Ladder score in Dystopia                                2.43
Explained by: Log GDP per capita                       1.446
Explained by: Social support                           1.106
Explained by: Healthy life expectancy                  0.741
Explained by: Freedom to make life choices             0.691
Explained by: Generosity                               0.124
Explained by: Perceptions of corruption                0.481
Dystopia + residual                                    3.253
Name: 0, dtype: object

In [90]:
#iloc

df.iloc[[0]].T

                                                         0
Country name                                       Finland
Regional indicator                          Western Europe
Ladder score                                         7.842
Standard error of ladder score                       0.032
upperwhisker                                         7.904
lowerwhisker                                          7.78
Logged GDP per capita                               10.775
Social support                                       0.954
Healthy life expectancy                                 72
Freedom to make life choices                         0.949
Generosity                                          -0.098
Perceptions of corruption                            0.186
Ladder score in Dystopia                              2.43
Explained by: Log GDP per capita                     1.446
Explained by: Social support                         1.106
Explained by: Healthy life expectancy                0.741
Explained by: Freedom to make life choices           0.691
Explained by: Generosity                             0.124
Explained by: Perceptions of corruption              0.481
Dystopia + residual                                  3.253

In [24]:
#loc
df1.loc['Germany']

Regional indicator              Western Europe
Ladder score                             7.155
Logged GDP per capita                   10.873
Social support                           0.903
Healthy life expectancy                   72.5
Freedom to make life choices             0.875
Generosity                               0.011
Perceptions of corruption                 0.46
Name: Germany, dtype: object

In [96]:
df1.loc[["Germany"]]

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Germany,Western Europe,7.155,10.873,0.903,72.5,0.875,0.011,0.46

In [99]:
# iloc

df1.iloc[102:109]

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
South Africa,Sub-Saharan Africa,4.956,9.403,0.860,56.904,0.749,-0.067,0.860
Turkey,Middle East and North Africa,4.948,10.240,0.822,67.199,0.576,-0.139,0.776
Pakistan,South Asia,4.934,8.458,0.651,58.709,0.726,0.098,0.787
Morocco,Middle East and North Africa,4.918,8.903,0.560,66.208,0.774,-0.236,0.801
Venezuela,Latin America and Caribbean,4.892,9.073,0.861,66.700,0.615,-0.169,0.827
Georgia,Commonwealth of Independent States,4.891,9.585,0.671,64.300,0.783,-0.238,0.655
Algeria,Middle East and North Africa,4.887,9.342,0.802,66.005,0.480,-0.067,0.752

In [100]:
# loc
df1.loc['South Africa':'Algeria']

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
South Africa,Sub-Saharan Africa,4.956,9.403,0.860,56.904,0.749,-0.067,0.860
Turkey,Middle East and North Africa,4.948,10.240,0.822,67.199,0.576,-0.139,0.776
Pakistan,South Asia,4.934,8.458,0.651,58.709,0.726,0.098,0.787
Morocco,Middle East and North Africa,4.918,8.903,0.560,66.208,0.774,-0.236,0.801
Venezuela,Latin America and Caribbean,4.892,9.073,0.861,66.700,0.615,-0.169,0.827
Georgia,Commonwealth of Independent States,4.891,9.585,0.671,64.300,0.783,-0.238,0.655
Algeria,Middle East and North Africa,4.887,9.342,0.802,66.005,0.480,-0.067,0.752

### **Reaching to Columns and Rows Together**


##### To reach both rows and columns --> df.iloc[[row1,row2], [column1,column2]] or df.loc[[rowname1, rowname2],['columnname1','columnname2']]

##### df.loc[0:3,'Hobbyist':'ConvertedComp']  # <--- It gives us first 3 rows and columns between given two column names. We don't use second square bracket.

In [101]:
df1.head()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [102]:
# iloc

df1.iloc[[12, 15, 39],[1, 6, 7]]

              Ladder score  Generosity  Perceptions of corruption
Country name
Germany              7.155       0.011                      0.460
Costa Rica           7.069      -0.126                      0.809
Estonia              6.189      -0.106                      0.527

In [103]:
# loc
df1.loc[['Germany','Costa Rica','Estonia'],['Ladder score','Generosity','Perceptions of corruption']]

              Ladder score  Generosity  Perceptions of corruption
Country name
Germany              7.155       0.011                      0.460
Costa Rica           7.069      -0.126                      0.809
Estonia              6.189      -0.106                      0.527

#### Pandas Series & Numpy Arrays

In [110]:
ser = df1["Generosity"].copy()
ser

Country name
Finland       -0.098
Denmark        0.030
Switzerland    0.025
Iceland        0.160
Netherlands    0.175
               ...
Lesotho       -0.131
Botswana      -0.246
Rwanda         0.061
Zimbabwe      -0.047
Afghanistan   -0.102
Name: Generosity, Length: 149, dtype: float64

In [111]:
type(ser)

pandas.core.series.Series

In [112]:
ser.head(3)

Country name
Finland       -0.098
Denmark        0.030
Switzerland    0.025
Name: Generosity, dtype: float64

In [113]:
ser.mean()

-0.015134228187919468

In [114]:
ser.min()

-0.28800000000000003

In [115]:
ser[20:101] = 100

ser[20:101]

Country name
France                      100.0
Bahrain                     100.0
Malta                       100.0
Taiwan Province of China    100.0
United Arab Emirates        100.0
                            ...
Turkmenistan                100.0
Gambia                      100.0
Benin                       100.0
Laos                        100.0
Bangladesh                  100.0
Name: Generosity, Length: 81, dtype: float64

### Conditional Filtering

In [ ]:
# Exercise

1. Get the number of countries where perceptions of corruption is EQUAL or HIGHER than 
mean score of the level of perceptions of corruption

2.Get the number of countries where perceptions of corruption is LOWER than 
mean score of the level of perceptions of corruption

3. Print a result sentence similar to follwoing one:

Out of 149 countries; Citizens of 95 countries perceive above the mean level of perceptions of corruption in their countries.
On the other hand citizens of 54 countries perceive below the mean level of perceptions of corruption in their countries.

In [116]:
df1.head(3)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292

In [126]:
# 1
a = df1["Perceptions of corruption"].mean()

In [129]:
# high_corruption = df1[(df1['Perceptions of corruption'] >= df1['Perceptions of corruption'].mean())]
high_corruption = df1[df1["Perceptions of corruption"] >= a]

In [130]:
high_corruption

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Israel,Middle East and North Africa,7.157,10.575,0.939,73.503,0.800,0.031,0.753
Costa Rica,Latin America and Caribbean,7.069,9.880,0.891,71.400,0.934,-0.126,0.809
Czech Republic,Central and Eastern Europe,6.965,10.556,0.947,70.807,0.858,-0.208,0.868
Spain,Western Europe,6.491,10.571,0.932,74.700,0.761,-0.081,0.745
Italy,Western Europe,6.483,10.623,0.880,73.800,0.693,-0.084,0.866
...,...,...,...,...,...,...,...,...
Malawi,Sub-Saharan Africa,3.600,6.958,0.537,57.948,0.780,0.038,0.729
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

In [136]:
# 2
# low_corruption = df1[(df1['Perceptions of corruption'] < df1['Perceptions of corruption'].mean())]
low_corruption = df1[df1["Perceptions of corruption"] < a]

In [134]:
low_corruption.head(2)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179

In [135]:
low_corruption.shape

(54, 8)

In [143]:
# 3
print("Out of", df1.shape[0], "countries; Citizens of", high_corruption.shape[0], "countries perceive above the mean level of perceptions of corruption in their countries. On the other hand citizens of,", low_corruption.shape[0], "countries perceive below the mean level of perceptions of corruption in their countries.")

Out of 149 countries; Citizens of 95 countries perceive above the mean level of perceptions of corruption in their countries. On the other hand citizens of, 54 countries perceive below the mean level of perceptions of corruption in their countries.

In [144]:
print(f'Out of {df1.shape[0]} countries; Citizens of {high_corruption.shape[0]} countries perceive above the mean level of perceptions of corruption in their countries.\nOn the other hand citizens of {low_corruption.shape[0]} countries perceive below the mean level of perceptions of corruption in their countries.')

Out of 149 countries; Citizens of 95 countries perceive above the mean level of perceptions of corruption in their countries.
On the other hand citizens of 54 countries perceive below the mean level of perceptions of corruption in their countries.

In [138]:
df1.shape[0]

149

In [147]:
high_corruption.shape[0]

95

In [148]:
low_corruption.shape[0]

54

In [149]:
# Emir's solutions!!!

In [42]:
df1['Perceptions of corruption'].describe()

count    149.000000
mean       0.727450
std        0.179226
min        0.082000
25%        0.667000
50%        0.781000
75%        0.845000
max        0.939000
Name: Perceptions of corruption, dtype: float64

In [46]:
df1['Perceptions of corruption']

Country name
Finland        0.186
Denmark        0.179
Switzerland    0.292
Iceland        0.673
Netherlands    0.338
               ...
Lesotho        0.915
Botswana       0.801
Rwanda         0.167
Zimbabwe       0.821
Afghanistan    0.924
Name: Perceptions of corruption, Length: 149, dtype: float64

In [43]:
high_corruption = df1[(df1['Perceptions of corruption']>=df1['Perceptions of corruption'].mean())]

high_corruption.shape

(95, 8)

In [47]:
high_corruption.head(10)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Israel,Middle East and North Africa,7.157,10.575,0.939,73.503,0.800,0.031,0.753
Costa Rica,Latin America and Caribbean,7.069,9.880,0.891,71.400,0.934,-0.126,0.809
Czech Republic,Central and Eastern Europe,6.965,10.556,0.947,70.807,0.858,-0.208,0.868
Spain,Western Europe,6.491,10.571,0.932,74.700,0.761,-0.081,0.745
Italy,Western Europe,6.483,10.623,0.880,73.800,0.693,-0.084,0.866
Slovenia,Central and Eastern Europe,6.461,10.529,0.948,71.400,0.949,-0.101,0.806
Guatemala,Latin America and Caribbean,6.435,9.053,0.813,64.958,0.906,-0.038,0.775
Kosovo,Central and Eastern Europe,6.372,9.318,0.821,63.813,0.869,0.257,0.917
Slovakia,Central and Eastern Europe,6.331,10.369,0.936,69.201,0.766,-0.124,0.911
Brazil,Latin America and Caribbean,6.330,9.577,0.882,66.601,0.804,-0.071,0.756

In [44]:
low_corruption = df1[(df1['Perceptions of corruption']<df1['Perceptions of corruption'].mean())]

low_corruption.shape

(54, 8)

In [49]:
low_corruption.sample(10)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
New Zealand,North America and ANZ,7.277,10.643,0.948,73.400,0.929,0.134,0.242
United States,North America and ANZ,6.951,11.023,0.920,68.200,0.837,0.098,0.698
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
United Arab Emirates,Middle East and North Africa,6.561,11.085,0.844,67.333,0.932,0.074,0.589
Nepal,South Asia,5.269,8.120,0.774,64.233,0.782,0.152,0.727
Saudi Arabia,Middle East and North Africa,6.494,10.743,0.891,66.603,0.877,-0.149,0.684
Singapore,Southeast Asia,6.377,11.488,0.915,76.953,0.927,-0.018,0.082
Laos,Southeast Asia,5.030,8.947,0.728,58.968,0.910,0.123,0.658
Belarus,Commonwealth of Independent States,5.534,9.853,0.910,66.253,0.650,-0.180,0.627
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179

In [45]:
print(f'Out of {df1.shape[0]} countries; Citizens of {high_corruption.shape[0]} countries perceive above the mean level of perceptions of corruption in their countries.\nOn the other hand citizens of {low_corruption.shape[0]} countries perceive below the mean level of perceptions of corruption in their countries.')

Out of 149 countries; Citizens of 95 countries perceive above the mean level of perceptions of corruption in their countries.
On the other hand citizens of 54 countries perceive below the mean level of perceptions of corruption in their countries.