In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as mat

In [2]:
df = pd.read_csv("world-happiness-report-2021.csv")
df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [3]:
# shape (kaç tane satır ka. tane sütun var onu gösterir)
df.shape

(149, 20)

In [4]:
# head (ilk baştan default 5 satır getirir ama istersek içine değer girilebilir)
df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [5]:
# tail (son satırları getirir, default değeri 5'tir ama aynı head gibi içine değer girilebilir)
df.tail()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [6]:
# sample (rastgele olarak istediğimiz kadar satır alabiliriz)
df.sample(3)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
65,Ecuador,Latin America and Caribbean,5.764,0.057,5.875,5.653,9.313,0.821,68.800,0.842,-0.124,0.843,2.43,0.935,0.806,0.640,0.560,0.107,0.062,2.653
139,Burundi,Sub-Saharan Africa,3.775,0.107,3.985,3.565,6.635,0.490,53.400,0.626,-0.024,0.607,2.43,0.000,0.062,0.155,0.298,0.172,0.212,2.876
21,Bahrain,Middle East and North Africa,6.647,0.068,6.779,6.514,10.669,0.862,69.495,0.925,0.089,0.722,2.43,1.409,0.899,0.662,0.661,0.246,0.139,2.631

In [7]:
# info (datatype larımıza bakarız. Kategorik mi numerik mi vs)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(2)
memory usage: 23.4+ KB

In [8]:
# describe (bizlere sayısal veriler ile ilgili istatistiksel bilgiler sağlıyor.)
df.describe()

,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,1.490000e+02,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.532839,0.058752,5.648007,5.417631,9.432208,0.814745,64.992799,0.791597,-0.015134,0.727450,2.430000e+00,0.977161,0.793315,0.520161,0.498711,0.178047,0.135141,2.430329
std,1.073924,0.022001,1.054330,1.094879,1.158601,0.114889,6.762043,0.113332,0.150657,0.179226,5.347044e-15,0.404740,0.258871,0.213019,0.137888,0.098270,0.114361,0.537645
min,2.523000,0.026000,2.596000,2.449000,6.635000,0.463000,48.478000,0.382000,-0.288000,0.082000,2.430000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.648000
25%,4.852000,0.043000,4.991000,4.706000,8.541000,0.750000,59.802000,0.718000,-0.126000,0.667000,2.430000e+00,0.666000,0.647000,0.357000,0.409000,0.105000,0.060000,2.138000
50%,5.534000,0.054000,5.625000,5.413000,9.569000,0.832000,66.603000,0.804000,-0.036000,0.781000,2.430000e+00,1.025000,0.832000,0.571000,0.514000,0.164000,0.101000,2.509000
75%,6.255000,0.070000,6.344000,6.128000,10.421000,0.905000,69.600000,0.877000,0.079000,0.845000,2.430000e+00,1.323000,0.996000,0.665000,0.603000,0.239000,0.174000,2.794000
max,7.842000,0.173000,7.904000,7.780000,11.647000,0.983000,76.953000,0.970000,0.542000,0.939000,2.430000e+00,1.751000,1.172000,0.897000,0.716000,0.541000,0.547000,3.482000

In [9]:
# isnull().sum() (missing yani kayıp veri olup olmadığına bakarız)
df.isnull().sum()

Country name                                  0
Regional indicator                            0
Ladder score                                  0
Standard error of ladder score                0
upperwhisker                                  0
lowerwhisker                                  0
Logged GDP per capita                         0
Social support                                0
Healthy life expectancy                       0
Freedom to make life choices                  0
Generosity                                    0
Perceptions of corruption                     0
Ladder score in Dystopia                      0
Explained by: Log GDP per capita              0
Explained by: Social support                  0
Explained by: Healthy life expectancy         0
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Dystopia + residual                           0
dtype: int64

In [10]:
# columns (sütunlarımızın nelerden oluştuğuna bakalım)
df.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [11]:
# value_counts (numara ile ifade edilmeyen object ifadeler için sayısal veriler sağlıyor)
df["Regional indicator"].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Central and Eastern Europe            17
Middle East and North Africa          17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [12]:
# Single column
df["Ladder score"]

0      7.842
1      7.620
2      7.571
3      7.554
4      7.464
       ...
144    3.512
145    3.467
146    3.415
147    3.145
148    2.523
Name: Ladder score, Length: 149, dtype: float64

In [13]:
df["Ladder score"].describe()

count    149.000000
mean       5.532839
std        1.073924
min        2.523000
25%        4.852000
50%        5.534000
75%        6.255000
max        7.842000
Name: Ladder score, dtype: float64

In [14]:
type(df["Ladder score"])

pandas.core.series.Series

In [15]:
# multiple columns
df[["Social support", "Generosity"]]

     Social support  Generosity
0             0.954      -0.098
1             0.954       0.030
2             0.942       0.025
3             0.983       0.160
4             0.942       0.175
..              ...         ...
144           0.787      -0.131
145           0.784      -0.246
146           0.552       0.061
147           0.750      -0.047
148           0.463      -0.102

[149 rows x 2 columns]

In [16]:
type(# multiple columns
df[["Social support", "Generosity"]])

pandas.core.frame.DataFrame

In [17]:
df1 = df[['Country name', 'Regional indicator', 'Ladder score',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption']].copy()
df1.set_index('Country name', inplace=True)
df1

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

## Reaching to Rows with loc & iloc

loc ismi label dan gelir. Yani etiket demektir. Numerik değer verilmez. Index isimleri gerekir. ((stop değeri inclusive yani dahildir)
iloc ismi indexten gelir. index üzerinden satıra ulaşırız ama sadece numara ile ulaşırız. (Bu yüzden stop değeri dahil değildir yani exclusive dir.)

In [18]:
# iloc
df1.iloc[3]

Regional indicator              Western Europe
Ladder score                             7.554
Logged GDP per capita                   10.878
Social support                           0.983
Healthy life expectancy                   73.0
Freedom to make life choices             0.955
Generosity                                0.16
Perceptions of corruption                0.673
Name: Iceland, dtype: object

In [19]:
#loc
df1.loc["Iceland"]

Regional indicator              Western Europe
Ladder score                             7.554
Logged GDP per capita                   10.878
Social support                           0.983
Healthy life expectancy                   73.0
Freedom to make life choices             0.955
Generosity                                0.16
Perceptions of corruption                0.673
Name: Iceland, dtype: object

In [20]:
#loc
df1.loc["Germany"]

Regional indicator              Western Europe
Ladder score                             7.155
Logged GDP per capita                   10.873
Social support                           0.903
Healthy life expectancy                   72.5
Freedom to make life choices             0.875
Generosity                               0.011
Perceptions of corruption                 0.46
Name: Germany, dtype: object

In [21]:
df1.iloc[102:109]

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
South Africa,Sub-Saharan Africa,4.956,9.403,0.860,56.904,0.749,-0.067,0.860
Turkey,Middle East and North Africa,4.948,10.240,0.822,67.199,0.576,-0.139,0.776
Pakistan,South Asia,4.934,8.458,0.651,58.709,0.726,0.098,0.787
Morocco,Middle East and North Africa,4.918,8.903,0.560,66.208,0.774,-0.236,0.801
Venezuela,Latin America and Caribbean,4.892,9.073,0.861,66.700,0.615,-0.169,0.827
Georgia,Commonwealth of Independent States,4.891,9.585,0.671,64.300,0.783,-0.238,0.655
Algeria,Middle East and North Africa,4.887,9.342,0.802,66.005,0.480,-0.067,0.752

In [22]:
df1.iloc[12:19,[1,6]]

                Ladder score  Generosity
Country name
Germany                7.155       0.011
Canada                 7.103       0.089
Ireland                7.085       0.077
Costa Rica             7.069      -0.126
United Kingdom         7.064       0.233
Czech Republic         6.965      -0.208
United States          6.951       0.098

In [23]:
df1.iloc[[15,35,43],[1,6]]

              Ladder score  Generosity
Country name
Costa Rica           7.069      -0.126
Mexico               6.317      -0.147
Poland               6.166      -0.165

In [24]:
df1.loc[["Germany","Costa Rica", "Estonia"],["Ladder score", "Generosity", "Perceptions of corruption"]]

              Ladder score  Generosity  Perceptions of corruption
Country name
Germany              7.155       0.011                      0.460
Costa Rica           7.069      -0.126                      0.809
Estonia              6.189      -0.106                      0.527

## Pandas Series and Numpy Arrays

In [25]:
ser = df1["Generosity"].copy()
ser

Country name
Finland       -0.098
Denmark        0.030
Switzerland    0.025
Iceland        0.160
Netherlands    0.175
               ...
Lesotho       -0.131
Botswana      -0.246
Rwanda         0.061
Zimbabwe      -0.047
Afghanistan   -0.102
Name: Generosity, Length: 149, dtype: float64

In [26]:
type(ser)

pandas.core.series.Series

In [27]:
ser.head(3)

Country name
Finland       -0.098
Denmark        0.030
Switzerland    0.025
Name: Generosity, dtype: float64

In [28]:
ser.mean()

-0.015134228187919468

In [29]:
ser.min()

-0.288

## Broadcasting

In [30]:
a = 100
ser[20:101] = a
ser[20:101]

Country name
France                      100.0
Bahrain                     100.0
Malta                       100.0
Taiwan Province of China    100.0
United Arab Emirates        100.0
                            ...
Turkmenistan                100.0
Gambia                      100.0
Benin                       100.0
Laos                        100.0
Bangladesh                  100.0
Name: Generosity, Length: 81, dtype: float64

In [31]:
df1.head()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [32]:
mean_score = df1["Perceptions of corruption"].mean()
mean_score

0.7274496644295301

In [33]:
x = df1["Perceptions of corruption"].count()
x

149

In [34]:
df1["Perceptions of corruption"][df1["Perceptions of corruption"] >= mean_score]

Country name
Israel            0.753
Costa Rica        0.809
Czech Republic    0.868
Spain             0.745
Italy             0.866
                  ...
Malawi            0.729
Lesotho           0.915
Botswana          0.801
Zimbabwe          0.821
Afghanistan       0.924
Name: Perceptions of corruption, Length: 95, dtype: float64

In [35]:
a = df1["Perceptions of corruption"][df1["Perceptions of corruption"] >= mean_score].count()
a

95

In [36]:
b = df1["Perceptions of corruption"][df1["Perceptions of corruption"] < mean_score].count()
b

54

In [37]:
print(f"Out of {x} countries; Citizens of {a} countries perceive above the mean level of perceptions of corruption in their countries. \nOn the other hand citizens of {b} countries perceive below the mean level of perceptions of corruption in their countries.")

Out of 149 countries; Citizens of 95 countries perceive above the mean level of perceptions of corruption in their countries.
On the other hand citizens of 54 countries perceive below the mean level of perceptions of corruption in their countries.

## Exercises

In [38]:
df1.head()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [39]:
# Germany, Ethiopia, Peru, Chad, Japan. Freedom to make life choices, Healthy life expectancy
df1.loc[["Germany", "Ethiopia", "Peru", "Chad", "Japan"],["Freedom to make life choices", "Healthy life expectancy"]]

              Freedom to make life choices  Healthy life expectancy
Country name
Germany                              0.875                   72.500
Ethiopia                             0.752                   59.000
Peru                                 0.822                   68.250
Chad                                 0.579                   48.478
Japan                                0.796                   75.100

In [40]:
df1.iloc[[25,52,65,145],[1,7]]

              Ladder score  Perceptions of corruption
Country name
Saudi Arabia         6.494                      0.684
Hungary              5.992                      0.876
Ecuador              5.764                      0.843
Botswana             3.467                      0.801

In [41]:
# Exercise: Conditional Filtering
# Let's bring the Happiness score from the countries where in Central and Easter Europe countries
# and where perceptions of corruption higher than 0.9
df1[(df1["Regional indicator"] == "Central and Eastern Europe") & (df1["Perceptions of corruption"] > 0.9)]

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Kosovo,Central and Eastern Europe,6.372,9.318,0.821,63.813,0.869,0.257,0.917
Slovakia,Central and Eastern Europe,6.331,10.369,0.936,69.201,0.766,-0.124,0.911
Romania,Central and Eastern Europe,6.140,10.284,0.832,67.355,0.845,-0.219,0.938
Croatia,Central and Eastern Europe,5.882,10.217,0.924,70.799,0.754,-0.118,0.939
Bosnia and Herzegovina,Central and Eastern Europe,5.813,9.590,0.870,68.098,0.706,0.113,0.931
Bulgaria,Central and Eastern Europe,5.266,10.016,0.931,67.000,0.788,-0.096,0.932
Albania,Central and Eastern Europe,5.117,9.520,0.697,68.999,0.785,-0.030,0.901
North Macedonia,Central and Eastern Europe,5.101,9.693,0.805,65.474,0.751,0.038,0.905

In [42]:
# Exercise:Conditional Filtering
# - Let's **randomly** bring 7 countries with their 'Regional indicator','Ladder score','Perceptions of corruption' scores
# - Condition : Those countries are not in Western Europe **or** their 'Perceptions of corruption' scores are not bigger than 0.66
df1[(df1["Regional indicator"]!="Western Europe") | (df1["Perceptions of corruption"]<=0.66)][['Regional indicator','Ladder score','Perceptions of corruption']].sample(7)

,Regional indicator,Ladder score,Perceptions of corruption
Country name,,,
Bosnia and Herzegovina,Central and Eastern Europe,5.813,0.931
Jordan,Middle East and North Africa,4.395,0.705
Morocco,Middle East and North Africa,4.918,0.801
Mozambique,Sub-Saharan Africa,4.794,0.684
Poland,Central and Eastern Europe,6.166,0.735
Turkey,Middle East and North Africa,4.948,0.776
Sierra Leone,Sub-Saharan Africa,3.849,0.866

## Drop and Add

In [43]:
# add column
new = np.random.rand(149)
df1['new'] = new
df1.head()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,new
Country name,,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,0.997718
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179,0.380579
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292,0.851622
Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673,0.075049
Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338,0.309262

In [44]:
# drop column
df1.drop('new', axis = 1, inplace = True )
df1.head()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [45]:
# add row
new_row = df1.loc["Germany"]
new_row

Regional indicator              Western Europe
Ladder score                             7.155
Logged GDP per capita                   10.873
Social support                           0.903
Healthy life expectancy                   72.5
Freedom to make life choices             0.875
Generosity                               0.011
Perceptions of corruption                 0.46
Name: Germany, dtype: object

In [46]:
new_row.name="New_name"

In [47]:
df1 = df1.append(new_row)
df1

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924
New_name,Western Europe,7.155,10.873,0.903,72.500,0.875,0.011,0.460

In [48]:
# drop row
df1 = df1.drop("New_name", axis=0)
df1.head()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [49]:
# creating df2 dataset

df2 = df1.copy()
df2

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

In [50]:
df2["Social support"].apply(np.square)

Country name
Finland        0.910116
Denmark        0.910116
Switzerland    0.887364
Iceland        0.966289
Netherlands    0.887364
                 ...
Lesotho        0.619369
Botswana       0.614656
Rwanda         0.304704
Zimbabwe       0.562500
Afghanistan    0.214369
Name: Social support, Length: 149, dtype: float64

In [51]:
# Update Regional indicator of Afghanistan as South_Asia

In [52]:
df2.loc["Afghanistan"]["Ladder score"]

2.523

In [53]:
df2.loc["Afghanistan"]["Ladder score"] = 7.565

<ipython-input-53-b89088bdbdca>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.loc["Afghanistan"]["Ladder score"] = 7.565

In [54]:
df2.loc["Afghanistan", "Ladder score"] = 7.565
# ya da şu şekilde => df2.loc[["Afghanistan"],["Ladder score"]]=7.565

In [55]:
df2.loc["Afghanistan"]["Ladder score"]

7.565

In [56]:
df2.loc["Afghanistan"]

Regional indicator              South Asia
Ladder score                         7.565
Logged GDP per capita                7.695
Social support                       0.463
Healthy life expectancy             52.493
Freedom to make life choices         0.382
Generosity                          -0.102
Perceptions of corruption            0.924
Name: Afghanistan, dtype: object

Based on the our dataset's 'Healthy life expectancy' scores, lets make a new column with the name of **'Explained Healthy life expectancy'** with the new values which should consist of:
- Let's think 'Healthy life expectancy''s mean score as our threshold.
-If 'Healthy life expectancy' is equal and greater than 75% of the 'Healthy life expectancy' score of the dataset , it should be written **''Long Life expectancy'**
-If 'Healthy life expectancy' less than 75% of the 'Healthy life expectancy' score of the dataset but bigger than our threshold, it should be written **'Longer than normal expectancy'**
--If 'Healthy life expectancy' equal or less than our threshold but bigger than 25% of the 'Healthy life expectancy' score of the dataset, it should be written **'Normal life expectancy'**
--If 'Healthy life expectancy' equal or less than 25% of the 'Healthy life expectancy' score of the dataset, it should be written **'Lower life expectancy'**
--Since We have projects with United states make sure that United States should be written as **'United States of America'**

In [57]:
# Raife Hoca'nın cevabı

In [58]:
ortalama = round(df2["Healthy life expectancy"].mean(),2)
ortalama

64.99

In [59]:
def change(x):
    if x>=75 :
        return "Long Life expectancy"
    elif ortalama<x<75:
        return "Longer than normal expectancy"
    elif 25<=x<=ortalama :
        return "Normal life expectancy"
    else:
        return "Lower life expectancy"
df2["Healthy life expectancy"].apply(change).loc["United States"]

'Longer than normal expectancy'

In [60]:
# Kaan Hoca'nın cevabı

In [61]:
df2["Healthy life expectancy"].head()

Country name
Finland        72.0
Denmark        72.7
Switzerland    74.4
Iceland        73.0
Netherlands    72.4
Name: Healthy life expectancy, dtype: float64

In [62]:
df2["Healthy life expectancy"].describe()

count    149.000000
mean      64.992799
std        6.762043
min       48.478000
25%       59.802000
50%       66.603000
75%       69.600000
max       76.953000
Name: Healthy life expectancy, dtype: float64

In [63]:
def change(x):
    if x>=69.639000 :
        return "Long Life expectancy"
    elif 65.042847<x<69.639000:
        return "Longer than normal expectancy"
    elif 59.842000 <=x<= 65.042847 :
        return "Normal life expectancy"
    else:
        return "Lower life expectancy"
df2["Healthy life expectancy"].apply(change).loc["United States"]

'Longer than normal expectancy'

## Groupby

In [64]:
df2.columns

Index(['Regional indicator', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [65]:
df2["Regional indicator"].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Central and Eastern Europe            17
Middle East and North Africa          17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [66]:
df2["Regional indicator"].value_counts(normalize=True)

Sub-Saharan Africa                    0.241611
Western Europe                        0.140940
Latin America and Caribbean           0.134228
Central and Eastern Europe            0.114094
Middle East and North Africa          0.114094
Commonwealth of Independent States    0.080537
Southeast Asia                        0.060403
South Asia                            0.046980
East Asia                             0.040268
North America and ANZ                 0.026846
Name: Regional indicator, dtype: float64

In [67]:
df2.index

Index(['Finland', 'Denmark', 'Switzerland', 'Iceland', 'Netherlands', 'Norway',
       'Sweden', 'Luxembourg', 'New Zealand', 'Austria',
       ...
       'Burundi', 'Yemen', 'Tanzania', 'Haiti', 'Malawi', 'Lesotho',
       'Botswana', 'Rwanda', 'Zimbabwe', 'Afghanistan'],
      dtype='object', name='Country name', length=149)

In [68]:
df1.groupby(["Regional indicator"])

In [69]:
df2.groupby(["Regional indicator"]).get_group("Western Europe")

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
Norway,Western Europe,7.392,11.053,0.954,73.300,0.960,0.093,0.270
Sweden,Western Europe,7.363,10.867,0.934,72.700,0.945,0.086,0.237
Luxembourg,Western Europe,7.324,11.647,0.908,72.600,0.907,-0.034,0.386
Austria,Western Europe,7.268,10.906,0.934,73.300,0.908,0.042,0.481
Germany,Western Europe,7.155,10.873,0.903,72.500,0.875,0.011,0.460
Ireland,Western Europe,7.085,11.342,0.947,72.400,0.879,0.077,0.363
United Kingdom,Western Europe,7.064,10.707,0.934,72.500,0.859,0.233,0.459
Belgium,Western Europe,6.834,10.823,0.906,72.199,0.783,-0.153,0.646
France,Western Europe,6.690,10.704,0.942,74.000,0.822,-0.147,0.571
Malta,Western Europe,6.602,10.674,0.931,72.200,0.927,0.133,0.653
Spain,Western Europe,6.491,10.571,0.932,74.700,0.761,-0.081,0.745
Italy,Western Europe,6.483,10.623,0.880,73.800,0.693,-0.084,0.866
Cyprus,Western Europe,6.223,10.576,0.802,73.898,0.763,-0.015,0.844
Portugal,Western Europe,5.929,10.421,0.879,72.600,0.892,-0.244,0.887
Greece,Western Europe,5.723,10.279,0.823,72.600,0.582,-0.288,0.823
North Cyprus,Western Europe,5.536,10.576,0.820,73.898,0.795,0.012,0.626

In [70]:
df2.groupby(["Regional indicator"]).get_group("Western Europe")["Ladder score"]

Country name
Finland           7.842
Denmark           7.620
Switzerland       7.571
Iceland           7.554
Netherlands       7.464
Norway            7.392
Sweden            7.363
Luxembourg        7.324
Austria           7.268
Germany           7.155
Ireland           7.085
United Kingdom    7.064
Belgium           6.834
France            6.690
Malta             6.602
Spain             6.491
Italy             6.483
Cyprus            6.223
Portugal          5.929
Greece            5.723
North Cyprus      5.536
Name: Ladder score, dtype: float64

In [71]:
df2["Ladder score"].describe()

count    149.000000
mean       5.566678
std        1.057758
min        3.145000
25%        4.854000
50%        5.536000
75%        6.309000
max        7.842000
Name: Ladder score, dtype: float64

In [72]:
df2["Perceptions of corruption"].describe()

count    149.000000
mean       0.727450
std        0.179226
min        0.082000
25%        0.667000
50%        0.781000
75%        0.845000
max        0.939000
Name: Perceptions of corruption, dtype: float64

In [73]:
df2.groupby(["Regional indicator"]).get_group("Middle East and North Africa")

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Israel,Middle East and North Africa,7.157,10.575,0.939,73.503,0.800,0.031,0.753
Bahrain,Middle East and North Africa,6.647,10.669,0.862,69.495,0.925,0.089,0.722
United Arab Emirates,Middle East and North Africa,6.561,11.085,0.844,67.333,0.932,0.074,0.589
Saudi Arabia,Middle East and North Africa,6.494,10.743,0.891,66.603,0.877,-0.149,0.684
Kuwait,Middle East and North Africa,6.106,10.817,0.843,66.900,0.867,-0.104,0.736
Libya,Middle East and North Africa,5.410,9.622,0.827,62.300,0.771,-0.087,0.667
Turkey,Middle East and North Africa,4.948,10.240,0.822,67.199,0.576,-0.139,0.776
Morocco,Middle East and North Africa,4.918,8.903,0.560,66.208,0.774,-0.236,0.801
Algeria,Middle East and North Africa,4.887,9.342,0.802,66.005,0.480,-0.067,0.752
Iraq,Middle East and North Africa,4.854,9.240,0.746,60.583,0.630,-0.053,0.875
Iran,Middle East and North Africa,4.721,9.584,0.710,66.300,0.608,0.218,0.714
Tunisia,Middle East and North Africa,4.596,9.266,0.691,67.201,0.656,-0.201,0.870
Lebanon,Middle East and North Africa,4.584,9.626,0.848,67.355,0.525,-0.073,0.898
Palestinian Territories,Middle East and North Africa,4.517,8.485,0.826,62.250,0.653,-0.163,0.821
Jordan,Middle East and North Africa,4.395,9.182,0.767,67.000,0.755,-0.167,0.705
Egypt,Middle East and North Africa,4.283,9.367,0.750,61.998,0.749,-0.182,0.795
Yemen,Middle East and North Africa,3.658,7.578,0.832,57.122,0.602,-0.147,0.800

In [74]:
df2.groupby(["Regional indicator"]).get_group("Middle East and North Africa").mean()

Ladder score                     5.219765
Logged GDP per capita            9.666118
Social support                   0.797647
Healthy life expectancy         65.609118
Freedom to make life choices     0.716471
Generosity                      -0.079765
Perceptions of corruption        0.762235
dtype: float64

## Ödev

**Exercise** : We are working as a Data Scientist at an internationally well-known infrastructure company,
which makes projects all over the world. Right now, our company's focus areas are: 'Southeast Asia' and 'South Asia'.
In the first place, our boss wants us to prepare a descriptive report on the institutional integrity and citizens to trust their governments to see whether it is worthed to start a project idea to invest huge amount of money and time to those regions.
We are preparing a descriptive report for our boss, who does not have much knowledge of statistics or reading statistical results. As data scientists, we should prepare something concise and understandable.
Let's start with the following steps:

-First, decide on which variable would be a good choice to work on

-Second give our boss both numbers and also kind of explanatory side (like we did before)

-Make a comparison between two regions in the text

-Our report should contain:

    --overall regions,

    --'Southeast Asia' and 'South Asia'

    --variable and modified version of the variable

In [80]:
df1.groupby("Regional indicator")["Perceptions of corruption"].agg(["mean", "max", "min"]).sort_values(by = "mean", ascending=False)

                                        mean    max    min
Regional indicator
Central and Eastern Europe          0.850529  0.939  0.527
South Asia                          0.797429  0.924  0.682
Latin America and Caribbean         0.792600  0.891  0.590
Sub-Saharan Africa                  0.765944  0.915  0.167
Middle East and North Africa        0.762235  0.898  0.589
Commonwealth of Independent States  0.725083  0.924  0.506
Southeast Asia                      0.709111  0.895  0.082
East Asia                           0.683333  0.856  0.403
Western Europe                      0.523095  0.887  0.179
North America and ANZ               0.449250  0.698  0.242

In [81]:
df1.groupby("Regional indicator").get_group("Southeast Asia")["Perceptions of corruption"].sort_values(ascending=False)

Country name
Thailand       0.895
Indonesia      0.867
Cambodia       0.843
Malaysia       0.839
Vietnam        0.796
Philippines    0.742
Myanmar        0.660
Laos           0.658
Singapore      0.082
Name: Perceptions of corruption, dtype: float64

In [82]:
df1.groupby("Regional indicator").get_group("South Asia")["Perceptions of corruption"].sort_values(ascending=False)

Country name
Afghanistan    0.924
Sri Lanka      0.863
Maldives       0.825
Pakistan       0.787
India          0.774
Nepal          0.727
Bangladesh     0.682
Name: Perceptions of corruption, dtype: float64

In [83]:
df1["Perceptions of corruption"].describe()

count    149.000000
mean       0.727450
std        0.179226
min        0.082000
25%        0.667000
50%        0.781000
75%        0.845000
max        0.939000
Name: Perceptions of corruption, dtype: float64

In [84]:
def trust(corrupt):
    if corrupt >= 0.845000:
        return "Low trust in institutions"
    elif corrupt > 0.781000 and corrupt < 0.845000:
        return "Lower than normal level trust in institutions"
    elif corrupt > 0.667000 and corrupt <= 0.781000:
        return "About the normal level trust in institutions"
    else:
        return "High level trust in institutions"

In [85]:
df1["trust in institutions"] = df1["Perceptions of corruption"].apply(trust)
df1["trust in institutions"].head(2)

Country name
Finland    High level trust in institutions
Denmark    High level trust in institutions
Name: trust in institutions, dtype: object

In [86]:
df1.groupby("Regional indicator").get_group("South Asia")["trust in institutions"]

Country name
Nepal           About the normal level trust in institutions
Maldives       Lower than normal level trust in institutions
Bangladesh      About the normal level trust in institutions
Pakistan       Lower than normal level trust in institutions
Sri Lanka                          Low trust in institutions
India           About the normal level trust in institutions
Afghanistan                        Low trust in institutions
Name: trust in institutions, dtype: object

In [87]:
df1.groupby("Regional indicator").get_group("Southeast Asia")["trust in institutions"]

Country name
Singapore                   High level trust in institutions
Thailand                           Low trust in institutions
Philippines     About the normal level trust in institutions
Vietnam        Lower than normal level trust in institutions
Malaysia       Lower than normal level trust in institutions
Indonesia                          Low trust in institutions
Laos                        High level trust in institutions
Cambodia       Lower than normal level trust in institutions
Myanmar                     High level trust in institutions
Name: trust in institutions, dtype: object

In [90]:
invest_df = df1[(df1["Regional indicator"] == "Southeast Asia") | (df1["Regional indicator"] == "South Asia")]
invest_df.head(2)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,trust in institutions
Country name,,,,,,,,,
Singapore,Southeast Asia,6.377,11.488,0.915,76.953,0.927,-0.018,0.082,High level trust in institutions
Thailand,Southeast Asia,5.985,9.805,0.888,67.401,0.884,0.287,0.895,Low trust in institutions

In [92]:
#1
invest_df[["Regional indicator", "Perceptions of corruption", "trust in institutions"]].sort_values(by="Regional indicator")

,Regional indicator,Perceptions of corruption,trust in institutions
Country name,,,
Nepal,South Asia,0.727,About the normal level trust in institutions
Maldives,South Asia,0.825,Lower than normal level trust in institutions
Bangladesh,South Asia,0.682,About the normal level trust in institutions
Pakistan,South Asia,0.787,Lower than normal level trust in institutions
Sri Lanka,South Asia,0.863,Low trust in institutions
India,South Asia,0.774,About the normal level trust in institutions
Afghanistan,South Asia,0.924,Low trust in institutions
Singapore,Southeast Asia,0.082,High level trust in institutions
Thailand,Southeast Asia,0.895,Low trust in institutions
Philippines,Southeast Asia,0.742,About the normal level trust in institutions
Vietnam,Southeast Asia,0.796,Lower than normal level trust in institutions
Malaysia,Southeast Asia,0.839,Lower than normal level trust in institutions
Indonesia,Southeast Asia,0.867,Low trust in institutions
Laos,Southeast Asia,0.658,High level trust in institutions
Cambodia,Southeast Asia,0.843,Lower than normal level trust in institutions
Myanmar,Southeast Asia,0.660,High level trust in institutions

In [94]:
#2
invest_df.groupby("Regional indicator")[["Perceptions of corruption", "trust in institutions"]].describe()

                   Perceptions of corruption                             \
                                       count      mean       std    min
Regional indicator
South Asia                               7.0  0.797429  0.081672  0.682
Southeast Asia                           9.0  0.709111  0.250301  0.082


                       25%    50%    75%    max
Regional indicator
South Asia          0.7505  0.787  0.844  0.924
Southeast Asia      0.6600  0.796  0.843  0.895

In [98]:
#3
invest_df = invest_df.reset_index()
invest_df = invest_df.set_index(["Regional indicator"])
invest_df.sort_index(inplace = True)

In [101]:
invest_df[["Country name", "Perceptions of corruption", "trust in institutions"]]

,Country name,Perceptions of corruption,trust in institutions
Regional indicator,,,
South Asia,Nepal,0.727,About the normal level trust in institutions
South Asia,Maldives,0.825,Lower than normal level trust in institutions
South Asia,Bangladesh,0.682,About the normal level trust in institutions
South Asia,Pakistan,0.787,Lower than normal level trust in institutions
South Asia,Sri Lanka,0.863,Low trust in institutions
South Asia,India,0.774,About the normal level trust in institutions
South Asia,Afghanistan,0.924,Low trust in institutions
Southeast Asia,Singapore,0.082,High level trust in institutions
Southeast Asia,Thailand,0.895,Low trust in institutions
Southeast Asia,Philippines,0.742,About the normal level trust in institutions
Southeast Asia,Vietnam,0.796,Lower than normal level trust in institutions
Southeast Asia,Malaysia,0.839,Lower than normal level trust in institutions
Southeast Asia,Indonesia,0.867,Low trust in institutions
Southeast Asia,Laos,0.658,High level trust in institutions
Southeast Asia,Cambodia,0.843,Lower than normal level trust in institutions
Southeast Asia,Myanmar,0.660,High level trust in institutions

In [104]:
#4 multiple index
invest_df = invest_df.reset_index()
invest_df = invest_df.set_index(["Regional indicator", "Country name"])
invest_df.sort_index(inplace = True)

In [105]:
invest_df[["Perceptions of corruption", "trust in institutions"]]

                                 Perceptions of corruption  \
Regional indicator Country name
South Asia         Afghanistan                       0.924
                   Bangladesh                        0.682
                   India                             0.774
                   Maldives                          0.825
                   Nepal                             0.727
                   Pakistan                          0.787
                   Sri Lanka                         0.863
Southeast Asia     Cambodia                          0.843
                   Indonesia                         0.867
                   Laos                              0.658
                   Malaysia                          0.839
                   Myanmar                           0.660
                   Philippines                       0.742
                   Singapore                         0.082
                   Thailand                          0.895
                   Vietnam                           0.796

                                                         trust in institutions
Regional indicator Country name
South Asia         Afghanistan                       Low trust in institutions
                   Bangladesh     About the normal level trust in institutions
                   India          About the normal level trust in institutions
                   Maldives      Lower than normal level trust in institutions
                   Nepal          About the normal level trust in institutions
                   Pakistan      Lower than normal level trust in institutions
                   Sri Lanka                         Low trust in institutions
Southeast Asia     Cambodia      Lower than normal level trust in institutions
                   Indonesia                         Low trust in institutions
                   Laos                       High level trust in institutions
                   Malaysia      Lower than normal level trust in institutions
                   Myanmar                    High level trust in institutions
                   Philippines    About the normal level trust in institutions
                   Singapore                  High level trust in institutions
                   Thailand                          Low trust in institutions
                   Vietnam       Lower than normal level trust in institutions

## Replace

In [106]:
df1.head(2)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,trust in institutions
Country name,,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,High level trust in institutions
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179,High level trust in institutions

In [107]:
df1["Regional indicator"].value_counts()  # değiştireceğimiz değeri bulalım

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Central and Eastern Europe            17
Middle East and North Africa          17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [108]:
df1["Regional indicator"].replace({"Western Europe":"Kingdom of Kaan"})  # .replace syntaxı bu şekildedir. Kalıcı değildir.

Country name
Finland           Kingdom of Kaan
Denmark           Kingdom of Kaan
Switzerland       Kingdom of Kaan
Iceland           Kingdom of Kaan
Netherlands       Kingdom of Kaan
                      ...
Lesotho        Sub-Saharan Africa
Botswana       Sub-Saharan Africa
Rwanda         Sub-Saharan Africa
Zimbabwe       Sub-Saharan Africa
Afghanistan            South Asia
Name: Regional indicator, Length: 149, dtype: object

## str

In [109]:
# long method:
df2 = df1.copy()
df2.columns

Index(['Regional indicator', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'trust in institutions'],
      dtype='object')

In [110]:
df2.columns = [x.upper() for x in df2.columns]  # list comprehension ile kolon başlıklarını büyüttük
df2.head(2)

,REGIONAL INDICATOR,LADDER SCORE,LOGGED GDP PER CAPITA,SOCIAL SUPPORT,HEALTHY LIFE EXPECTANCY,FREEDOM TO MAKE LIFE CHOICES,GENEROSITY,PERCEPTIONS OF CORRUPTION,TRUST IN INSTITUTIONS
Country name,,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,High level trust in institutions
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179,High level trust in institutions

In [111]:
df2.columns = df2.columns.str.title()  # string metodu ile kolon isimlerimizi tekrardan daha kısa yoldan değiştirdik
df2.head(2)

,Regional Indicator,Ladder Score,Logged Gdp Per Capita,Social Support,Healthy Life Expectancy,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Trust In Institutions
Country name,,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,High level trust in institutions
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179,High level trust in institutions

In [113]:
df2.columns = df2.columns.str.replace(" ", "_")
df2.head(2)

,Regional_Indicator,Ladder_Score,Logged_Gdp_Per_Capita,Social_Support,Healthy_Life_Expectancy,Freedom_To_Make_Life_Choices,Generosity,Perceptions_Of_Corruption,Trust_In_Institutions
Country name,,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,High level trust in institutions
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179,High level trust in institutions

In [114]:
df2["Regional_Indicator"].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Central and Eastern Europe            17
Middle East and North Africa          17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional_Indicator, dtype: int64

In [115]:
# Regional_indicator içindeki Asia yazanları getir ve missing value ları doldurma => .str.contains()
df2["Regional_Indicator"].str.contains("Asia", na = False, case = False)

Country name
Finland        False
Denmark        False
Switzerland    False
Iceland        False
Netherlands    False
               ...
Lesotho        False
Botswana       False
Rwanda         False
Zimbabwe       False
Afghanistan     True
Name: Regional_Indicator, Length: 149, dtype: bool

Exercise
- By using 'Working Language.csv' sample data
- How many developers use Python as a working language in their jobs
- Number of people in each country uses Python as a working language in their jobs
- How many people in your countryvof interest uses Python as a working language in their jobs

In [119]:
# cevap1
df_emir = pd.read_csv("Working_Language.csv")
df_emir.head(10)

,Respondent,Age,Country,DevType,LanguageWorkedWith
0,1,NaN,Germany,"Developer, desktop or enterprise applications;...",C#;HTML/CSS;JavaScript
1,2,NaN,United Kingdom,"Developer, full-stack;Developer, mobile",JavaScript;Swift
2,3,NaN,Russian Federation,NaN,Objective-C;Python;Swift
3,4,25.0,Albania,NaN,NaN
4,5,31.0,United States,NaN,HTML/CSS;Ruby;SQL
5,6,NaN,Germany,"Designer;Developer, front-end;Developer, mobile",HTML/CSS;Java;JavaScript
6,7,NaN,India,"Developer, back-end;Developer, front-end;Devel...",C#;HTML/CSS;PHP
7,8,36.0,United States,"Developer, back-end;Developer, desktop or ente...",Python;SQL
8,9,30.0,Tunisia,"Developer, full-stack",HTML/CSS;JavaScript;PHP
9,10,22.0,United Kingdom,"Database administrator;Developer, full-stack;D...",HTML/CSS;Java;JavaScript;Python;SQL

In [168]:
df_python = df_emir["LanguageWorkedWith"].str.contains("Python", na = False, case = False)  # normalize = True
df_python

0        False
1        False
2         True
3        False
4        False
         ...
64456    False
64457     True
64458    False
64459    False
64460    False
Name: LanguageWorkedWith, Length: 64461, dtype: bool

In [157]:
# cevap1 yöntem 2
len(df_emir[df_emir["LanguageWorkedWith"].str.contains("Python", case = False, na=False)])

25287

In [159]:
# cevap1 yöntem 3
df_emir["LanguageWorkedWith"].str.contains("Python", na = False, case = False).sum()

25287

In [169]:
# cevap2
python_country = df_emir.loc[df_python, "Country"]
python_country.value_counts()

United States                         5964
India                                 2670
Germany                               1712
United Kingdom                        1621
Canada                                1011
                                      ...
Tajikistan                               1
Yemen                                    1
Angola                                   1
Papua New Guinea                         1
Micronesia, Federated States of...       1
Name: Country, Length: 164, dtype: int64

In [173]:
python_country.str.contains("Germany").sum()

1712

In [151]:
# cevap3
germany = df_emir[(df_emir["Country"] == "Germany") & (df_emir["LanguageWorkedWith"].str.contains("Python", case = False, na=False))]
germany.shape

(1712, 5)

## Missing Data

In [165]:
friends = {
    'first': ['Mike', 'Kevin', 'Mary', 'John', np.nan, None, 'NA'], 
    'last': ['Brown', 'Cline', 'Sunderland', 'Cliff', np.nan, np.nan, 'Missing'], 
    'email': ['mikebrown@gmail.com', 'kevincline@email.com', 'Johncliff@email.com', None, np.nan, 'private@email.com', 'NA'],
    'age': ['27', '45', '54', '37', None, None, 'Missing']
}

In [167]:
df_2 = pd.DataFrame(friends)
df_2

   first        last                 email      age
0   Mike       Brown   mikebrown@gmail.com       27
1  Kevin       Cline  kevincline@email.com       45
2   Mary  Sunderland   Johncliff@email.com       54
3   John       Cliff                  None       37
4    NaN         NaN                   NaN     None
5   None         NaN     private@email.com     None
6     NA     Missing                    NA  Missing

In [172]:
df_2.isnull().sum()

first    2
last     2
email    2
age      2
dtype: int64

dropna()

In [175]:
df_2.dropna(how = "any")  # fakat bu NA olanları düşürmedi, None ve NaN olanları düşürdü

   first        last                 email      age
0   Mike       Brown   mikebrown@gmail.com       27
1  Kevin       Cline  kevincline@email.com       45
2   Mary  Sunderland   Johncliff@email.com       54
6     NA     Missing                    NA  Missing

In [176]:
df_2.dropna(subset=["email"])  # email kolonundaki NA yı düşürmeye çalıştık yine düşmedi

   first        last                 email      age
0   Mike       Brown   mikebrown@gmail.com       27
1  Kevin       Cline  kevincline@email.com       45
2   Mary  Sunderland   Johncliff@email.com       54
5   None         NaN     private@email.com     None
6     NA     Missing                    NA  Missing

In [180]:
df_2.replace({"NA" :np.nan, "Missing":np.nan}, inplace = True)  # NA ları ve Missing leri NaN a çevirdik ve tanınması sağlandı
df_2

   first        last                 email   age
0   Mike       Brown   mikebrown@gmail.com    27
1  Kevin       Cline  kevincline@email.com    45
2   Mary  Sunderland   Johncliff@email.com    54
3   John       Cliff                  None    37
4    NaN         NaN                   NaN  None
5   None         NaN     private@email.com  None
6    NaN         NaN                   NaN   NaN

In [182]:
df_2.isnull().sum()

first    3
last     3
email    3
age      3
dtype: int64

## Daha dosyayı okurken içindeki NA ve Missing leri değiştirelim
### na_vals = ["Missing", "NA"]
### df = pd.read_csv("csv filen name", na_values = na_vals)

In [183]:
df_2["age"]

0      27
1      45
2      54
3      37
4    None
5    None
6     NaN
Name: age, dtype: object

fillna()

In [184]:
df_2.dtypes

first    object
last     object
email    object
age      object
dtype: object

In [189]:
df_2["age"] = df_2["age"].astype(float)  # dtype değiştirme çünkü fillna uygulayabilmek için

In [186]:
df_2.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [187]:
df_2["age"].fillna(40.75)

0    27.00
1    45.00
2    54.00
3    37.00
4    40.75
5    40.75
6    40.75
Name: age, dtype: float64

### **Exercise**
#Let's make 
- Afghanistan's and Pakistan's Freedom to make life choices are missing
- Uzbekistan's and Kyrgyzstan's ''Perceptions of corruption' are missing
- Albania's and Croatia's 'Social support'are missing
- Use your knowledge to solve how todeal with the missing values.

In [191]:
df1.head()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,trust in institutions
Country name,,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,High level trust in institutions
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179,High level trust in institutions
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292,High level trust in institutions
Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673,About the normal level trust in institutions
Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338,High level trust in institutions

In [192]:
df1.columns

Index(['Regional indicator', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'trust in institutions'],
      dtype='object')

In [194]:
df1.groupby("Regional indicator").get_group("South Asia").mean()

Ladder score                     4.441857
Logged GDP per capita            8.682571
Social support                   0.703429
Healthy life expectancy         62.681000
Freedom to make life choices     0.765000
Generosity                       0.042714
Perceptions of corruption        0.797429
dtype: float64

In [195]:
df1.groupby("Regional indicator").get_group("South Asia").sort_values(by="Freedom to make life choices", ascending = False)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,trust in institutions
Country name,,,,,,,,,
India,South Asia,3.819,8.755,0.603,60.633,0.893,0.089,0.774,About the normal level trust in institutions
Bangladesh,South Asia,5.025,8.454,0.693,64.800,0.877,-0.041,0.682,About the normal level trust in institutions
Maldives,South Asia,5.198,9.826,0.913,70.600,0.854,0.024,0.825,Lower than normal level trust in institutions
Sri Lanka,South Asia,4.325,9.470,0.827,67.299,0.841,0.079,0.863,Low trust in institutions
Nepal,South Asia,5.269,8.120,0.774,64.233,0.782,0.152,0.727,About the normal level trust in institutions
Pakistan,South Asia,4.934,8.458,0.651,58.709,0.726,0.098,0.787,Lower than normal level trust in institutions
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924,Low trust in institutions